body {
  font-family: Roboto;
  font-size: 16px;
}
input {
  position: relative;
  display: inline-block;
  padding: 4px 7px;
  margin: 8px;
  width: "200px";
  min-height: 28px;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Segoe UI", Roboto;
  color: black;
  background-color: transparent;
  background-image: none;
  border: 1px solid #1da1f2;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  resize: none;
  align-items: center;
  justify-items: center;
}
button {
  display: flex;
  min-width: 150px;
  width: 150px;
  height: 40px;
  padding: 4px 7px;
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid #1da1f2;
  text-decoration: none;
  color: #1da1f2;
  font-family: "Segoe UI", Roboto;
  font-size: 1em;
  background: transparent;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  text-align: center;
  line-height: 36px;
  margin: 8px;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
button:hover {
  border: #1da1f2;
  background: white;
  color: #1da1f2;
  border: 4px solid #1da1f2;
}
